*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1424px;
    padding: 30px 0;
    margin: auto;
}
    
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.fl-r{
    float: right;
}
.fl-l{
    float: left;
}

/* header */
a{
    text-decoration: none;
    color: black;
    padding: 15px;
}

ul{
    display: inline-block;
}


nav ul li{
    display: inline-block;
    padding: 0 20px;
    font-weight: 500;
}

nav ul li a{
    appearance: none;
}

.leng{
    border-right: 1px solid black;
}

.l-hgt85{
    line-height: 40px;
}
/* header */

/* primo riquadro main */
.header-container{
    background-color: #fef5ee ;
    width: 100%;
}
    
    
    
.bg1{
    background-image: url(img/jumbotron.png);
    background-position: 100% 70%;
    background-size: cover;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
}   
    
    
.header-text{
    width: 37%;
    margin-top: 30px;
    margin-bottom: 30px;
}
    
.p-10{
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}
    
.font-15{
    font-size: 1rem;
    color:#334759;
    line-height: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
}

.font-20{
    font-size: 25px;
    color:#334759;
    font-weight: 900;
    padding-bottom: 20px;
    
}

    

h1{
    font-size: 50px;
    color: #334759;
}
/*  fine primo riquadro main */
    
/* blueline */
.blueline{
    width: 100%;
    background-color: #afeae4;
    height: 100px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(0%,-30%);
    position: absolute;
}
    
/* fine blueline */
    

/* seconda sezione del main */

.hero-container{
    background-color:#f4f9fd;
    padding-top: 4%;
}
    

.container2{
    width: 50%;
    margin: auto;
    text-align: center;
}


.section-img1{
    height: 200px;
    width: 300px;
    margin: auto;
    
}

.font-40{
    color: #384652;
    font-size: 40px;
    margin-bottom: 20px;
}

.font-30{
    color: #384652;
    font-size: 2rem;
    margin-bottom: 20px;
}

.font-10{
    font-size: 1rem;
    color:#334759;
    font-weight: 600;
}
    
    


.white-container{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 85%;
    margin-top: 30px;
    margin: auto;
}
    
.section-img2{
    width: 250px;
    height: 150px;
    margin: auto;
    margin-bottom: 50px;
}
    
.margin-l{
    margin-left: 20%;
}
    
.hr{
    color:rgb(123,123,123);
    margin: auto;
    width: 73%;
    transform:translate(55% , 0);
    position: absolute;
    top: 206px;
    /* come sposto questa riga piu sopra? con absolute + top, ma è corretto? */
}     
    
hr{
    border: none;
    height: 2px;
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
} 
    
.li2{
    display: inline-block;
    padding: 20px 1px;
    font-weight: 500;
}    
   
.ver-align{
    vertical-align: middle;
}    

/* fine seconda sezione del main */

/* sezione a tre colonne */

.row{
    background-color: white;
    width: 85%;
    margin-top: 30px;
    margin: auto;
}

.margin2{
    margin-left: 31px;
    margin-right: 31px;
}  

.section-img3{
    width: 100px;
    height: 50px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
}
    
.secondp{
    text-align: center;
    padding-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20px;
    line-height: 25px;
    color:#334759 ;
}

.hr2{
    width: 40%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

div ul{
    list-style-type: none;
    padding: 0 5px;
    font-weight: 500;
}

.m20{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}


/* fine sezione a tre colonne */

/* colonne */
.col-1{
    width:40%;
    padding: 20px;
}
    

.col-2{
    width: 50%;
}
    

.col-3{
    width: 31.5%;
    /* height: 800px; */
}
    
.column{
    float: left;
    padding: 50px 0;
    position: relative;
}

.column3{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    position: relative;
    border-radius: 10px;
}
    
.p-b20px{
    padding-bottom: 30px;
}
/* fine colonne */

/* terzo blocco azzurro */

.third-block{
    background-image: linear-gradient(to right, #00aab9 , #01b9ab);
    width: 100%;
    height: 800px;
}

.container3{
    width: 85%;
    margin: auto;
    text-align: center;
}
.col-w{
    color: white;
}


.font-30w{
    font-size: 38px;
    margin-bottom: 20px;
}

.box{
    width: 280px;
    height: 180px;
    float: left;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

.img-box{
    padding: 20px;
}
.box-font{
    font-size: 3rem;
    font
}
/* fine terzo blocco azzurro */

/* Button */

.btn{
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
}
   

.btn1{
    border: 1px solid #c08f87;
    color: #fa9b87;
}

.btn2{
    border: 1px solid transparent;
    color: white;
    background-color: #fe775a;
}

.btn3{
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    background-color: #fe775a;
    padding: 20px 30px;
    text-decoration: none;
}
    

/* fine button */


    
    
    



