*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1624px;
    padding: 30px 0;
    margin: auto;
}
    
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.fl-r{
    float: right;
}

/* header */
a{
    text-decoration: none;
    color: black;
    padding: 15px;
}

ul{
    display: inline-block;

}

nav ul li{
    display: inline-block;
    padding: 0 20px;
    font-weight: 500;
}

nav ul li a{
    appearance: none;
}

.leng{
    border-right: 1px solid black;
}

.l-hgt85{
    line-height: 40px;
}
/* header */

/* primo riquadro main */
.header-container{
    background-color: #fef5ee ;
    width: 100%;
}
    
    
    
.bg1{
    background-image: url(img/jumbotron.png);
    background-position: 100% 70%;
    background-size: cover;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
}   
    
    
.header-text{
    width: 37%;
    margin-top: 30px;
    margin-bottom: 30px;
}
    
.p-10{
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
}
    
.header-text p{
    font-size: 15px;
    color:#334759;
    line-height: 2rem;
    font-weight: 500;
}

h1{
    font-size: 50px;
    color: #334759;
}
/*  fine primo riquadro main */
    
/* blueline */
.blueline{
    width: 100%;
    background-color: #afeae4;
    height: 100px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transform: translate(0%,-25%);
}
    
/* fine blueline */
    

/* seconda sezione del main */
.hero-container{
    background-color{
        
    }
}
.st-section{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/* fine seconda sezione del main */


/* colonne */

.col-3{
    width: 33.3%;
}

.col-2{
    width: 50%;
}

.column{
    float: left;
    padding: 50px 0;
    background-color: lightskyblue;
    position: relative;
}

/* fine colonne */

/* Button */

.btn{
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
}
   

.btn1{
    border: 1px solid #c08f87;
    color: #fa9b87;
}

.btn2{
    border: 1px solid transparent;
    color: white;
    background-color: #fe775a;
}

.btn3{
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    background-color: #fe775a;
    padding: 20px 30px;
    text-decoration: none;
}
    

/* fine button */


    
    
    



